<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.template.dao.UserDAO">
    <resultMap id="user" type="User">
        <id column="user_id" property="id" />
        <result column="user_name" property="name" />
        <result column="user_pwd" property="pass" />
    </resultMap>

    <select id="getUser" parameterType="String" resultMap="user">
        select * from tb_users where user_name = #{arg0} and user_pwd = #{arg1}
    </select>
</mapper>